.welcome-askAdam{
    .adamPic{
        width: 360px;

    }
    .scrollDown{
        bottom: auto;
        @include hAllign;
        left: 0%;
        right: 0%;
        margin-top: 30px;
    }
    .askAdamTop {
      margin-top: 55px;
    }
    .aboutAdam {
      margin-top: 15px;
    }
    .askAdamBottom{
        display: -webkit-box;
        display: box;
        background-color: $black;
            .full{
                padding: 40px;
                .askAdamFormLine{
                    color: $white;
                    font-size: 25px;
                    font-family: 'Fjalla One', sans-serif;
                    letter-spacing: 1.5px;
                    span {
                      color: $yellow;
                    }
                }

                form.pages{
                    margin-top: 0px;


                    label{
                        width: 100%;
                    }
                    #req{
                      font-size: 13px;
                      line-height: 18px;
                      display: block;
                      color: #d2d2d2 !important;
                    }
                }
            }
                 img{
                    margin-top: 20px;
                }
        }
}

    @media (max-width: 992px) {
        .welcome-askAdam{
            .adamPic{
                width: 360px;
            }
            .font120{
                position: absolute;
                margin-top: -130px;
                z-index: -10;
            }
            .aboutAdam{
                margin-top: 160px;
            }
            .scrollDown{
                display: none;
            }
        }
    }
    @media (max-width: 555px) {
        .welcome-askAdam{
            .font120{
                font-size: 70px;
                min-width: 320px
            }
            .adamPic{
                width: 250px;
            }

        }
    }
    @media (max-width: 400px) {
        .welcome-askAdam{

            .adamPic{
                width: 100%;
            }

        }
    }
