.bikeForum {
  .bigFont {
    @include condensedFont;
    font-size: 72px;
  }
  .medFont {
    font-size: 19px;
  }
  .welcome-bikeForum {
    .top {
      display: flex;
      position: relative;
      .flex-item {
        width: 50%;
        position: relative;
        .bgImage {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 15px;
          margin: 0 auto;
        }
      }
      .scrollDown {
        @include scrollDown;
        @include hAllign;
        bottom: 10px;
      }
    }
  }
  .share-your-story {
    background-color: $fontColor;
    color: $white;
    padding: 45px 0;
    position: relative;
    min-height: 500px;
    .giftcard {
      font-family: "frutiger_lt_std45_light";
      font-size: 32px;
      display: block;
      color: #febe10;
      margin-top: -28px;
    }
    .col-md-4.nopadr > img {
      position: absolute;
      width: 100%;
      top: -120px;
    }
  }
  .forum {
    .container {
      z-index: 1000;
      position: relative;
      background-color: #FFF;
      min-height: 500px;
    }
    a, p {
      color: $fontColor;
    }
    .title {
      padding: 50px 0px 20px;
    }
    .bbp-forum-info {
      a {
        i {
          font-size: 20px;
        }
        display: inline-block;
        font-size: 19px;
        font-weight: 700;
        padding-top: 5px;
        padding-left: 5px;
        @include condensedFont;
      }
    }
  }
  .forum-topic {
    text-transform: uppercase;
  }
  .bbp-topic-permalink {
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    display: block;
    margin-bottom: -8px;
  }
  .bbp-topic-meta {
    font-size: 16px !important
  }
  .bbp-topic-title {
    .bbp-author-avatar {
      display: none;
    }
  }
  .count {
    font-size: 15px;
    line-height: 21px;
    float: left;
    text-align: left;
    width: 8%;
        padding: 4px 0px;
  }
  .author-details {
    width: 22%;
    float: left;
    text-align: left;
    padding: 4px 0px;
    img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
    }
    .bbp-author-name {
      display: none;
    }
    .bbp-topic-started-by {
      float: left;
      margin-right: 5px;
    }
    .author {
      font-size: 15px;
      line-height: 18px;
      @include condensedFont;
      font-weight: 700;
      display: block;
      padding: 2px 0;
      span {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
  #bbpress-forums #bbp_topic_title {
    height: 32px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    font-size: 17px;
    color: #58585a;
    max-width: 220px;
    margin-bottom: 0px;
  }
  // posts
  .forum-post {
    .font70.title {
      text-align: center;
    }
    #bbpress-forums {
      li {
        &.bbp-header {
          font-size: 16px;
          font-family: "Arial Narrow", Arial, sans-serif;
          padding: 30px 0 12px;
          @include condensedFont;
          background-color: $yellow;
          span {
            font-weight: 300;
          }
        }
        &.bbp-body {
          .odd {
            background-color: #ececec !important;
          }
        }
      }
      .bbp-no-topic {
        color: #231f20;
        .tml-user-login-wrap label, .tml-user-pass-wrap label {
          color: #FFF;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .bikeForum .share-your-story .col-md-4.nopadr > img {
      top: 5px;
  }
}
@media (max-width: 992px) {
  .welcome-bikeForum .bikeForumFaq .flex-item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .welcome-bikeForum {
    .top {
      display: flex;
      .flex-item {
        width: 100%;
        background: url("../img/road-safety-revolution-forum.png") no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover cover;
        background-position: 30% 24%;
        /* height: 100%; */
        display: flex;
        .bgImage {
          position: relative;
          background-color: rgba(255, 255, 255, 0.7);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .bikeForum .welcome-bikeForum .top {
      min-height: 128px;
      .flex-item {
        width: 100%;
      }
  }
  .bikeForum .bigFont {
      font-size: 50px;
      margin-bottom: 16px;
  }
  .bikeForum .share-your-story .giftcard {
      font-size: 24px;
  }
  .bikeForum .count {
    width: 100% !important;
  }
}
@media (max-width: 620px) {
  .bikeForum .author-details {
    display: none;
  }
}
@media (max-width: 450px) {
  .font120 {
    @include condensedFont;
    font-size: 55px;
    line-height: 53px;
  }
  .bikeForum .bigFont {
      font-size: 44px;
      margin-bottom: 36px;
      line-height: 44px;
  }
  .bikeForum .share-your-story .giftcard {
      font-size: 21px;
      line-height: 22px;
  }
  #gear-forum {
    display: none;
  }
  .bikeForum .col-xs-12 {
   padding: 0px;
  }
  .bikeForum .medFont {
    font-size: 16px;
  }
  .bbp-form {
    padding: 0px !important;
  }
  .bikeForum .forum .title {
      padding: 15px 0px !important;
      font-size: 42px;
      text-align: center;
  }
  .bikeForum .forum-post .font70.title {
      font-size: 31px;
      text-align: left;
      line-height: 32px;
  }
  .goBack a {
      font-size: 15px;
  }
}
//     background: url(../img/bike-law-girl-on-bike.jpg) no-repeat center center fixed;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;
// height: 100%;
// display: flex;
// @media (min-width: 1750px) {
//     .welcome-bikeForum .bikeForumFaq .bgImage{
//         background: url(../img/bike-law-faq.jpg) no-repeat center center fixed;
//         -webkit-background-size: contain;
//         -moz-background-size: cover;
//         -o-background-size: cover;
//         background-size: 36%;
//         background-position: 400px 0%;
//         height: 800px
//     }
// }
