.yellow{
    color: $yellow;
}
a:hover{
    color: $white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: $white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: $white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent;
    color: $white;
    font-weight: 900;
}
.active:before{
      -webkit-transform: translateY(0);
  transform: translateY(0);
}
.navbar-default .navbar-nav > .active, .navbar-default .navbar-nav > .active, .navbar-default .navbar-nav > .active{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.navbar{
    background-color: $black;
    height: 150px;  

    .navbar-brand{
        font-size: 40px;
        line-height: 1;
        color: $white;
    }
    .navbar-nav{
        position: relative;
        top: 100px;
        font-size: 20px;
        li{
            margin: 0px 10px;
            a{
                    padding: 10px 1px;
            }
        }
    }
}
.navbar-default .navbar-nav > li > a{
    color: $white;
}
    .black{
        background-color: $black;
        color: $white;
    }
    footer{
        .join{
            font-size: 100px;
            line-height: .4;
            padding-top: 50px;
            padding-bottom: 50px;
            div{
                margin: 0 auto;
                display: table;                
                span{
                    font-size: 39px
                }
            }
        }

        .logos{
            padding: 28px 0;
        }
        
    }
  @media (max-width: 1200px) {
    .navbar .navbar-nav{
        font-size: 18px;
    }        
    footer{
        .logos{
                padding: 50px 0;
            }
    }
  }
  @media (max-width: 992px) {
    .navbar{
        height: 120px;
        .container{
            width: 100%;
        }
     .navbar-nav{
        font-size: 14px;
        top: 60px;
    }
    .navbar-brand{
        font-size: 25px;
    }
    }
  }
    @media (max-width: 768px) {
        .navbar{
            .navbar-nav{
                top: 40px;
                background-color: $black;
            }
        }
        footer{
            .join{
                div{
                font-size: 65px;
                span{
                    font-size: 25px;
                }
                }
            }
            .logos{
                    padding: 50px 0;
                    img{
                        margin: 0 auto;
                    }
                }
        }
    }
