.comment-form-url {
  display: none;
}

.headerImage {
  background: url("../../../uploads/2017/05/TR_OBIA_web_redesign_Home_Nominate_Rev_V2.jpg") center no-repeat;
  background-size: cover;
  height: 480px; //       filter: blur(5px);
  //   -webkit-filter: blur(5px);
  .overlay {
    background: $lightBlue;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
}
.comment{
  border-bottom: dotted thin;
  margin-bottom: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $orange;
}
    .recipientPic{
      width: 350px;
    }

.navbar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1031;
  border-radius: 0;
  top: 80px;
  background-color: $darkBlue;
  border: $darkBlue;
  font-size: 15px;
  .navbar-nav > li > a {
    color: #fff;
  }


  .dropdown-menu {
    background-color: transparent;
    padding: 0;
    border: none;
    li {
      a {
        background-color: $darkBlue;
        padding: 10px;
        margin: 2px;

      }
       &:hover {
          background-color: $orange;
        }
    }
    .active {
      a {
        background-color: $orange;
      }
    }
  }
  .dropdown-menu > li > a {
    color: #fff;
  }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: $orange;
  color: $textColor;
}
a:hover {
  color: $orange;
}
.underNav {
  color: #fff;
  left: 0%;
  position: absolute;
  right: 0%;
  top: 180px;
  img {
    width: 250px;
  }
  .text {
    top: 40px;
    text-shadow: 0px 1px 10px #000;
    .year {
      color: $lightGreen;
      font-size: 145px;
      font-weight: 600;
      float: left;
      line-height: 0.8;
    }
    .underNavBigger {
      font-size: 58px;
      line-height: 1;
    }
    .underNavSmall {
      font-size: 45px;
    }
  }
}
/*body for homw*/
.underMainImage {
  margin-top: 50px;
}
.categories {
  font-size: 15px;
  .fiveCate {
    min-width: 190px;
  }
  .title {
    background-color: $lightBlue;
    color: #fff;
    padding: 8px;
    height: 100px;
    position: relative;
    .vAllign {
      padding: 15px;
      left: 0;
    }
  }
  .text {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
  }
}
.biggerTitle {
  font-size: 50px;
  font-weight: 600;
  line-height: 0.8;
  color: #fff;
  padding: 30px 10px;
  span {
    font-weight: 300;
    position: relative;
    font-size: 30px;
  }
}
.nominate {
  @include border($darkBlue);
  .backPic {
    background: url("/obia-awards-excellence/img/nominate-person.jpg") center no-repeat;
    background-size: cover;
    height: 546px;
  }
  .title {
    background-color: $lightBlue;
    color: #fff;
  }
  .nominateForm {
    color: $placeHolderColor;
    padding-left: 50px;
    text-align: left;
    font-size: 14px;
    i {
      background-color: $orange;
      border-radius: 100px;
      font-size: 40px;
      color: white;
      padding: 12px 15px;
      left: -30px;
    }
    input[type="text"],
    input[type="email"],
    textarea,
    select {
      width: 100%;
      border: 1px solid $darkBlue;
      font-size: 15px;
      padding: 8px;
    }
    select {
      -webkit-appearance: button;
      -moz-appearance: button;
      -webkit-user-select: none;
      -moz-user-select: none;
      -webkit-padding-end: 20px;
      -moz-padding-end: 20px;
      -webkit-padding-start: 2px;
      -moz-padding-start: 2px;
      background-image: url("/obia-awards-excellence/img/dropdown-arrow.png");
      /* For Chrome and Safari */
      background-image: url("/obia-awards-excellence/img/dropdown-arrow.png");
      /* For old Fx (3.6 to 15) */
      background-image: url("/obia-awards-excellence/img/dropdown-arrow.png");
      /* For pre-releases of IE 10*/
      background-image: url("/obia-awards-excellence/img/dropdown-arrow.png");
      /* For old Opera (11.1 to 12.0) */
      background-image: url("/obia-awards-excellence/img/dropdown-arrow.png");
      /* Standard syntax; must be last */
      background-position: center right;
      background-repeat: no-repeat;
      border: 1px solid $darkBlue;
      border-radius: 0;
      color: $placeHolderColor;
      font-size: 15px;
      margin: 0;
      overflow: hidden;
      background-size: 20px;
      padding: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .submitNomination {
      padding: 20px 0 10px;
      border-bottom: solid 8px $orange;
      color: $darkBlue;
    }
    .wpcf7 {
      margin-top: 15px;
    }
  }
}
.votingBox {
  background-color: $darkBlue;
  @include border($orange);
}
.hideThis {
  visibility: hidden;
}
.pastAward {
  .rightSide {
    color: #fff;
    background-color: $orange;
    min-height: 130px;
    .vAllign {
      top: 50%;
      position: absolute;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      left: 50%;
    }
  }
}
.threeLinks {
  a {
    color: $textColor;
    span {
      padding: 20px;
      width: 380px;
      margin: 5px;
    }
    &:nth-child(1) {
      span {
        @include border($orange);
        @include hvr-rectangle-in($orange);
      }
    }
    &:nth-child(2) {
      span {
        @include border($lightGreen);
        @include hvr-rectangle-in($lightGreen);
      }
    }
    &:nth-child(3) {
      span {
        @include border($lightBlue);
        @include hvr-rectangle-in($lightBlue);
      }
    }
  }
}
.jumbotron {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eae5ee;
  footer {
    font-size: 12px;
    span {
      font-size: 14px;
      padding-bottom: 10px;
      display: inline-block;
    }
    center {
      margin-top: 25px;
    }
  }
}
.winners {
  .full-bio {
    position: absolute;
    bottom: 0px;
  }
  .all {
    display: inline-block;
    width: 100%;
    .titleLink {
      font-size: 25px;
      display: inline-block;
    }
    i {
      background-color: $orange;
      border-radius: 100px;
      font-size: 26px;
      color: white;
      padding: 7px 9px;
    }
    img {
      margin: 0 auto;
    }
    .obioLogo {
      max-width: 160px;
    }
  }
}
.profile {
  .main-face {
    float: left;
    padding-right: 50px;
    padding-bottom: 20px;
  }
  .recipient-person {
    font-size: 22px;
    margin-bottom: 35px;
    &.description {
      margin-bottom: 15px;
    }
  }
  .learn-more {

  }
  i {
    background-color: $lightBlue;
    border-radius: 100px;
    font-size: 24px;
    color: white;
    padding: 7px 9px;
  }
  .otherNominated {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    .people {
      margin: 0 4px 15px;
      width: 190px;
      display: inline-block;
      i {
        background-color: #fcb31b;
        border-radius: 100px;
        font-size: 16px;
        color: white;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
    .people > a {
      display: block;
      color: #000;
      min-height: 240px;
      img{
        border: thin solid $orange;
      }
      span {
        color: #42ACCF;
        display: block;
        padding-top: 9px;
        font-weight: 600;
        min-height: 45px;
      }
    }
  }
}
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
.flex-item {
  padding: 10px;
  width: 230px;
}
.contactUs {
  .sendMessage {
    border-bottom: solid 8px $orange;
    display: table;
  }
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    border: 1px solid $darkBlue;
    font-size: 15px;
    padding: 8px;
  }
}

// breadcrumb
#breadcrumbs {
  font-size: 12px;
  margin: 18px auto 0;
}

.comments {
  font-weight: normal;
  input, textarea {
    width: 100%;
    border: 1px solid #2e0058;
    font-size: 15px;
    padding: 8px;
  }
  #respond {
    max-width: 500px;
    label {
      font-weight: normal !important;
    }
  }
  #submit {
    padding: 20px;
    color: #fff;
    background-color: #39b0d0;
    border-radius: 0px;
    border: none;
  }
}


@media (min-width: 1200px) {
  .winners {
    .box {
      min-height: 252px;
    }
  }
}
@media (max-width: 1200px) {
   .navbar {
    .container-fluid {
      width: 820px;
      // height: 52px;
      // overflow: auto;
    }
  }
  .underNav {
    img {
      width: 250px;
    }
    .text {
      top: 40px;
      .year {
        font-size: 125px;
        line-height: 0.8;
      }
      .underNavBigger {
        font-size: 50px;
        line-height: 1;
      }
      .underNavSmall {
        font-size: 39px;
      }
    }
  }
  .winners {
    .box {
      min-height: 205px;
    }
  }
  .profile {
  }
}
@media (max-width: 992px) {
   .navbar {
    .container-fluid {
      width: 798px;
      font-size: 13px
      // height: 52px;
      // overflow: auto;
    }
  }
  .underNav {
    img {
      width: 250px;
    }
    .text {
      top: 40px;
      .year {
        font-size: 85px;
        line-height: 0.8;
      }
      .underNavBigger {
        font-size: 35px;
        line-height: 1;
      }
      .underNavSmall {
        font-size: 26px;
      }
    }
  }
  .winners {
    .all {
      .titleLink {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
    .box {
      font-size: 14px;
      min-height: auto;
    }
    .full-bio {
      position: relative;
      margin-top: 15px;
    }
  }
  .profile .otherNominated .people > a span {
      min-height: 64px;
  }
}
// @media (min-width: 768px) {
//   .navbar {
//     .container-fluid {
//       width: 790px;
//       // height: 52px;
//       // overflow: auto;
//     }
//   }
// }
@media (max-width: 768px) {
  .headerImage {
      height: 340px;
  }
  .navbar {
    top: 0;
    display: none;
    padding-top: 60px;
    // .container-fluid {
    //   height: 52px;
    //   overflow: auto;
    // }
  }
  .navbar-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #2e0058;
    border-radius: 0px;
    padding: 10px;
    margin-right: 0px;
    z-index: 10000000;
    .icon-bar {
      background-color: #2e0058;
    }
    &.active {
      border: 1px solid #FFF;
      .icon-bar {
        background-color: #FFF;
      }
    }
  }
  .underNav {
    width: 100%;
    transform: none;
    left: 0;
    right: 0;
    top: 4%;
    .all {
      position: absolute;
      left: 0;
      right: 0;
      width: 300px;
      margin: auto;
    }
    img {
      width: 160px;
      margin: 0 auto;
    }
    .text {
      top: 40px;
      .year {
        font-size: 60px;
      }
      .underNavBigger {
        font-size: 21px;
      }
      .underNavSmall {
        font-size: 17px;
      }
    }
  }
  .threeLinks a span {
    width: 310px;
  }
  .profile {
    .main-face {
      text-align: center;
      width: 350px;
    }
    .otherNominated {
      display: inherit;
      justify-content: inherit;
      .people {
        width: 48%;
      }
    }
  }
}

@media (max-width: 768px) {
  .profile .otherNominated .people {
    margin: 0 auto 15px;
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .profile .otherNominated .people > a img {
    width: 100%;
  }
  .profile .otherNominated .people > a span {
      font-size: 20px;
  }
}
//     .underNav{
//     img{
//         width: 250px;
//     }
//     .text{
//         top: 40px;
//     .year{
//         font-size: 85px;
//         line-height: .8;
//     }
//     .underNavBigger{
//         font-size: 35px;
//         line-height: 1;
//     }
//     .underNavSmall{
//         font-size: 26px;
//     }
//     }
// }
