.welcome-main {
  background: url(../img/road-safety-revolution.png) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  .container {
    position: relative;
    height: 100%;
    .win-a-bike {
      float: right;
      width: 380px;
      position: relative;
      @include condensedFont;
      p {
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        line-height: 49px;
        padding: 50px 0;
      }
      img {
        width: 100%;
        &#join-the-rsr {
          position: absolute;
          width: 450px;
          margin-left: 50%;
          -webkit-transform: translate(-50%, -42%);
          -moz-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
          z-index: 10;
        }
      }
    }
  }
}
.enter-to-win {
  .left {
    padding-left: 0px !important;
    padding: 50px 80px !important;
    h2 {
      font-size: 40px;
    }
  }
  .right {
    height: 100%;
    img {
      width: 100%;
    }
  }
  form {
    p {
      margin-bottom: 12px;
    }
    label {
      width: 100%;
      margin-bottom: 12px;
    }
    input {
      width: 100%;
      color: lighten($black,25);
      padding: 7px;
      font-size: 16px;
    }
    #req {
      font-size: 13px;
      font-weight: lighter;
      color: rgba($white,0.88);
    }
  }
  #terms {
    color: rgba($white, 0.6);
    line-height: 21px;
    font-size: 13.5px;
    padding-top: 10px;
  }
  #sponsors {
    width: 100%;
    padding: 29px 0;
  }
}
// home page road signs
.home-roadsigns {
  color: $black;
  h3 {
    @include condensedFont;
    font-size: 100px;
    margin-top: 110px;
  }
  p {
    font-size: 19px;
    padding-right: 95px;
  }
  .slogan {
    padding: 23px 0;
    font-size: 21px;
    margin: 15px 0 65px;
  }
  .roadsign {
    position: absolute;
    width: 90%;
    top: -60px;
    &.left {
      left: 0%;
    }
    &.right {
      right: 0%;
    }
  }
}
.home-roadbg {
  position: relative;
  .roadsign-bg {
    background: url(../img/road-safety-sign-1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
  }
  .roadsign-text {
    @include condensedFont;
    @include hAllign;
    border: 10px solid $white;
    height: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    color: $white;
    -webkit-text-shadow: 1px 2px  8px rgba($black, 0.65);
    -moz-text-shadow: 1px 2px  8px rgba($black, 0.65);
    text-shadow: 1px 2px  8px rgba($black, 0.65);
    -webkit-box-shadow: 0px 0px 12px 2px rgba($black,0.55);
    -moz-box-shadow: 0px 0px 12px 2px rgba($black,0.55);
    box-shadow: 0px 0px 12px 2px rgba($black,0.55);
    padding: 25px 65px;
    &.type-1 {
      font-size: 47px;
      span {
        font-size: 160px;
        display: inline-block;
        margin: -50px 0 -25px;
      }
    }
  }
  .scroll-down {
    bottom: 20px;
  }
}

// media queries
@media (min-width: 1921px) {
  .welcome-main {
    .container {
      .win-a-bike {
          width: 520px;
          position: absolute;
          right: -15%;
          p {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            line-height: 57px;
            padding: 60px 0;
          }
          img#join-the-rsr {
            width: 600px;
            -webkit-transform: translate(-50%, -42%);
            -moz-transform: translate(-50%, -42%);
            transform: translate(-50%, -42%);
          }
      }
    }
  }
}
