
// variables
$bgColor: #fff;
$black: #000;
$yellow: #febe10;
$fontColor: #231f20;
$white: #fff;
$linkColor: #fff;
$lightFont: #58585a;


// MIXINS
@mixin condensedFont {
  font-family: "Arial Narrow", Arial, sans-serif;
}
.condensedFont {
  font-family: "Arial Narrow", Arial, sans-serif;
}


// sizing
.mar0 {
  margin: 0px !important;
}
.marb10 {
  margin-bottom: 10px !important;
}
.marb20 {
  margin-bottom: 20px !important;
}

// contents
.blackbg {
  background-color: $black !important;
  color: $white !important;
}
.whitebg {
  background-color: $white !important;
  color: $black !important;
}

.col-xs-12.left {
  padding-left: 0px !important;
}
.col-xs-12.right {
  padding-right: 0px !important;
}

.font120 {
  @include condensedFont;
  font-size: 120px;
  line-height: 1;
  font-weight: 900;
  color: $fontColor;
}
.font70 {
  @include condensedFont;
  font-size: 70px;
  line-height: 1;
  font-weight: 900;
  color: $fontColor;
}


// other useful
.cf {
  clear: both !important;
}
#attach-picture {
  opacity: 0;
  z-index: -1000;
  height: 0px;
}

// class Mixins
.wpcf7-submit {
  background-color: $yellow;
  color: #000 !important;
  @include condensedFont;
  width: 90px !important;
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px !important;
  border: 0px;
}

.scrollDown, .scroll-up {
  position: absolute;
  background-color: $yellow;
  width: 85px;
  height: 85px;
  text-align: center;
  border-radius: 100%;
  font-size: 52px;
  line-height: 85px;
  padding-top: 4px;
  margin: auto;
  bottom: 45px;
  display: block;
  cursor: pointer;
  i {
    cursor: pointer;
  }
}

form.pages{
  color: $lightFont;
  margin-top: 25px;
  select {
  min-width: 220px;
  background: #FFF url(../img/down-arrow.png) no-repeat;
  background-size: 12px;
  background-position-x: 93%;
  background-position-y: 11px;
  }
  select, input {
  height: 32px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
  select, input, textarea {
  padding: 0 8px;
  border-style: none;
}
  label, input, textarea {
  width: 100%;
}
}
