@import 'include/reset';
@import 'include/animate';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
// @import 'include/neat-orange';
@import 'include/font-awesome.min';
@import 'include/settings';
@import 'variables';
// @import 'include/style';
// @import 'include/layers';
// @import 'include/navigation';

@import "font-awesome-compass";
@import "font-awesome";

html, body, .wrapper {
  height: 100%;
}
a {
  opacity: 0.95;
}
a:hover {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

h1 {
  @include condensedFont;
}

@font-face {
    font-family: 'frutiger_lt_std45_light';
    src: url('../fonts/frutigerltstd-light-webfont.eot');
    src: url('../fonts/frutigerltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-light-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-light-webfont.ttf') format('truetype'),
         url('../fonts/frutigerltstd-light-webfont.svg#frutiger_lt_std45_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'frutiger_lt_std65_bold';
    src: url('../fonts/frutigerltstd-bold-webfont.eot');
    src: url('../fonts/frutigerltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-bold-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-bold-webfont.ttf') format('truetype'),
         url('../fonts/frutigerltstd-bold-webfont.svg#frutiger_lt_std65_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frutiger_lt_std55_roman';
    src: url('../fonts/frutigerltstd-roman-webfont.eot');
    src: url('../fonts/frutigerltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-roman-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-roman-webfont.ttf') format('truetype'),
         url('../fonts/frutigerltstd-roman-webfont.svg#frutiger_lt_std55_roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTCom-Cn';
    src: url('../fonts/helveticaneueltcom-cn.eot');
    src: url('../fonts/helveticaneueltcom-cn.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltcom-cn.woff') format('woff'), url('../fonts/helveticaneueltcom-cn.ttf') format('truetype'), url('../fonts/helveticaneueltcom-cn.svg#helveticaneueltcom-cn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTCom-Bdcn';
    src: url('../fonts/helveticaneueltcom-bdcn.eot');
    src: url('../fonts/helveticaneueltcom-bdcn.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltcom-bdcn.woff') format('woff'), url('../fonts/helveticaneueltcom-bdcn.ttf') format('truetype'), url('../fonts/helveticaneueltcom-bdcn.svg#helveticaneueltcom-bdcn') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTCom-roman';
    src: url('../fonts/helveticaneueltcom-roman.eot');
    src: url('../fonts/helveticaneueltcom-roman.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltcom-roman.woff') format('woff'), url('../fonts/helveticaneueltcom-roman.ttf') format('truetype'), url('../fonts/helveticaneueltcom-roman.svg#helveticaneueltcom-roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTCom-Bd';
    src: url('../fonts/helveticaneueltcom-bd.eot');
    src: url('../fonts/helveticaneueltcom-bd.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltcom-bd.woff') format('woff'), url('../fonts/helveticaneueltcom-bd.ttf') format('truetype'), url('../fonts/helveticaneueltcom-bd.svg#helveticaneueltcom-bd') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$primaryFont: 'frutiger_lt_std45_light';
$boldFont: 'frutiger_lt_std65_bold';

body{
    font-family: $primaryFont;
    background-color: $bgColor;
    min-width: 320px;
    font-size: 16px;
}

.nopadl {
  padding-left: 0px !important;
}
.nopadlr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.nopadt {
  padding-top: 0px !important;
}
.padl30 {
  padding-left: 30px !important;
}
.padr30 {
  padding-right: 30px !important;
}
.padlr30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.nomargint {
  margin-top: 0px !important;
}

footer {
  margin-top: 30px;
}


/**    MIXINS    **/
@mixin border($color){
    border: 4px solid $color;
}
/* Rectangle In */
@mixin hvr-rectangle-in($color) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: $color;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@mixin hAllign{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin vAllign{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin scrollDown{

    font-size: 50px;
    background: #febe10;
    border-radius: 180px;
    padding: 0px 14px;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.menu-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.menu-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $yellow;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu-item:hover:before, .menu-item:focus:before, .menu-item:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}



.trans{
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
}



a{
  color: $linkColor;
  text-decoration: none;

&:hover{
  text-decoration: none;
}
}

.cf{
  clear: both;
}
.mar20{
    margin-bottom: 20px
}
.mar10{
    margin-bottom: 10px
}
.mar25{
    margin: 25px auto;
}


.pad0{
  padding: 0px;
}

/*5 row colum*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.btn-obia{
    padding: 20px 50px;
    color: #fff;
    float: right;
    background-color: $yellow;
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
}


.box{
     border: thin solid red;
}
.link{
    color: $fontColor;
    text-decoration: underline;
}
@import 'header';
@import 'homepage';
@import 'bikeLaw';
@import 'bikeBlog';
@import 'bikeForum';
@import 'askAdam';
